.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  background-color: #ffffff;
}
.not-found-image {
  width: 300px;
}
.not-found-heading {
  font-size: 25px;
  color: #616e7c;
}

.not-found-description {
  font-size: 15px;
  color: #aeb3b9;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  .not-found-image {
    width: 180px;
  }
  .not-found-heading {
    font-size: 18px;
  }

  .not-found-description {
    font-size: 12px;
  }
}
